
<div class="card">
    <div class="card-body">
        <form #stdForm="ngForm" (ngSubmit)="onStdAdd(stdForm)">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input name="fname" required ngModel type="text"
                 id="fname" class="form-control">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input name="lname" required ngModel type="text"
                 id="lname" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" required ngModel type="text"
                 id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input name="contact" required ngModel type="text"
                 id="contact" class="form-control">
            </div>
            <div class="form-group">
                <label for="isActive"> Is Active</label>
                <select name="isActive" required ngModel id="isActive" class="form-control">
                    <option value="active"> active</option>
                    <option value="in-active"> in-active</option>
                </select>
            </div>
            <button class="btn btn-sm btn-block btn-info">
                Add Student
            </button>
        </form>
    </div>
</div>