


<form #todoForm="ngForm" (ngSubmit)="onTodoAdd(todoForm)">
    <div class="form-group">
        <label for="todoItem">todo Item</label>
        <input 
        required
        name="todoItem"
        ngModel
        type="text" 
        class="form-control" 
        id="todoItem">
    </div>
    <div class="form-group">
        <label for="todoRating">todo Rating</label>
        <input 
        required
        name="todoRating"
        ngModel
        type="text" 
        class="form-control" 
        id="todoRating">
    </div>
    {{todoForm.invalid}}
    <button 
    [disabled]="todoForm.invalid"
    class="btn btn-sm btn-block btn-primary">Add Todo</button>
</form>
