body{
    background-image: url("https://www.blue-cap.de/app/uploads/2021/12/iStock-1241264665_web.jpg");
  background-position: center;
  background-repeat: no-repeat;
background-size: cover;
//    background-attachment: fixed;

}
